@media only screen and (min-width: 1000px) {
 .cardDesktop {
   max-width: 30vw;
   margin-right: 2vw;
 }

 .sectionDesktop {
   display: flex;
   flex-direction: row;
 }

 .mlDesktop {
  padding-left: 2vw;
 }

 .mTop {
   margin-top: 2vw !important;
 }

}

.mTop {
  margin-top: 15px;
}

